body{
    display: flex;
    flex-direction: column;
    background-color: $body-bg;
    min-height: 100vh;
    color: $text-cl;
}
a{
    color: $primary-cl;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}