///fonts///
$font-primary: "Open Sans";
$font-secondary:  "monospace";
$font-size: 16px;

///colors///
$primary-color: #222;
$secondary-color: #f00;


$body-bg: #282B38;
$section-bg: #363A4D;
$primary-cl: #E58D35;
$secondary-cl: #89C249;